table {
    border-collapse: collapse;
    margin: auto;
    width: 500px;
}

caption {
    text-align: center;
    caption-side: bottom;
    font-size: 0.8rem;

}

table thead tr:first-child{
    background-color: black;
    color: white
}

table thead tr:last-child {
    background-color: #333;
    color: white;
}
table thead tr:last-child th:first-child {
    background-color: black;
}

table tbody tr:nth-child(even) {
    background-color: #eee
}

table th {
    padding: 1rem;
}

table td {
    text-align: center;
    padding: 1rem;
    border: 1px solid gray;
}