body {
    display: grid;
    height: 100vh;
    grid-template:  auto auto 1fr auto / 1fr auto;
  }
  
  header {
    background: lightpink;
    padding: 2rem;
    grid-column: 1 / 3;
  }

  nav {
    grid-column: 1 / 3;
    padding: 1rem;
    background-color: rgb(197, 236, 222);
  }
  
  
  main {
    background: coral;
    grid-column: 1 / 2;
    height: 100%;
    padding: 1rem;
  }
  
  .right-sidebar {
    background: yellow;
    grid-column: 2 / 3;
    padding: 1rem;
  }
  
  footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 3;
  }
  
 
  