/* HOME */
body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
header p {
  font-family: "Bebas Neue", "Open Sans", sans-serif;
  letter-spacing: 1.5px;
}

header {
  padding: 0.5rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 50px auto auto 50px;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

header p {
  margin: 0;
}

.logo {
  max-width: 50px;
  justify-self: center;
  align-self: center;
}

#menu-button {
  background: none;
  border: none;
  font-size: 2rem;
  width: 50px;
  height: 50px;
}

#menu-button::before {
  content: "≡";
}

#menu-button.close::before {
  content: "X";
  font-size: 1rem;
}

nav ul {
  margin: 0;
  padding: 0;
  display: none;
  list-style: none;
  z-index: 1;
  opacity: 0.9;
}

nav ul.open {
  display: block;
  background-color: #224b0c;
  margin: 0;
  width: 150px;
  position: absolute;
  top: 4rem;
  right: 0;
}

nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0.75rem;
  transition: 0.5s;
}

nav ul li:hover a {
  background-color: #b59d45;
  color: black;
}

nav ul li.active {
  text-decoration: underline 2px #b59d45;
}

.social {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 0.5rem;
}
.social svg {
  width: 32px;
  height: auto;
}

/* banner */
p#banner {
  text-align: center;
  background-color: rgba(181, 157, 69, 0.7);
  margin: 0;
  padding: 1rem;
}

#banner.hide {
  display: none;
}

div.hero {
  width: 100%;
  position: relative;
}

div.hero img {
  width: 100%;
}

div.hero a {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem 1rem;
  background-color: #224b0c;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
}
div.hero a:hover {
  font-size: 125%;
  background-color: #b59d45;
  color: black;
}

div.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: stretch;
  gap: 0.5rem;
  padding: 1rem 2rem;
}

div.cards section {
  background-color: rgba(181, 157, 69, 0.7);
  border: 1px solid black;
  max-width: 100%;
  padding: 1rem;
}
main .cards h2 {
  margin-top: 0;
}

section.weather p {
  margin-bottom: 0;
}

section.weather section.forecast {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  border: none;
  background-color: transparent;
  padding: 0;
}
section.weather h3 {
  grid-column: 1 / -1;
}
section.weather ol{
  list-style: none;
  display: table;
  padding: 0;
  margin: 0 auto;
  width: 100%;
}

section.weather li {
  border: 1px solid black;
  padding: 0.5rem;
}


/* spotlight cards */
div#spotlight-banner {
  grid-column: 1 / -1;
  margin-top: 1rem;
  background-color: #224b0c;
  opacity: 0.8;
}
div#spotlight-banner h2 {
  margin: 0;
  color:white;
  padding: 0.5rem;
}

.spotlight img {
  max-width: 100%; 
  height: auto;
  display: block;
  margin: 0 auto;
}

.spotlight a {
  color: black;
}

footer {
  background-color: rgba(49, 49, 49, 0.9);
  color: white;
}

footer section {
  padding: 1rem;
}

footer p {
  margin: 0;
  line-height: 1.3rem;
}

footer a {
  color: white;
}

div.discover {
  background-color: rgba(181, 157, 69, 0.7);
  display: flex;
  flex-direction: column;
}

div.discover h1 {
  text-align: center;
  margin-bottom: 0;
  border-bottom: solid 2px #224b0c;
}

div.discover hr {
  height: 2px;
  background-color: #224b0c;
  margin: 0;
}
section.demographics {
  text-align: center;
  margin: 1rem;
}

section.discover-imgs figure {
  text-align: center;
}

section.discover-imgs img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: solid 1px #224b0c;
}

/* join */
div.join {
  margin: 0 auto;
}

div.join h1 {
  text-align: center;
  margin-bottom: 0;
  border-bottom: solid 2px #224b0c;
}

section.form {
  display: flex;
}

form {
  margin: 1rem auto;
}

form label {
  display: block;
  margin-bottom: 1rem;
}

form textarea {
  width: 20rem;
  height: 5rem;
}

form fieldset {
  margin-bottom: 1rem;
  width: max-content;
}
form fieldset label {
  margin: 0.5rem 0;
}

form fieldset legend {
  font-size: 1.1rem;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"] {
  display: block;
  width: 20rem;
  padding: 0.5rem;
  border-radius: 5px;
}

form input:required:valid {
  border-left: solid green 6px;
}

form input:required:invalid {
  border-left: solid red 6px;
}

form input[type="submit"] {
  width: 15rem;
  border: solid black 1px;
  padding: 1rem;
  background-color: #b59d45;
  border-radius: 10px;
  cursor: pointer;
}

section.membershipInfo {
  text-align: center;
  margin: 1rem;
}
section.membershipInfo h3 {
  margin-bottom: 0;
}

section.membershipInfo p {
  margin: 0 0.5rem;
}

/* Thank you  */
main div.thanks {
  text-align: center;
}

/* directory */
h1.directoryH {
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: solid 2px #224b0c;
}

div.menu {
  text-align: center;
}

div.menu button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: solid 1px #224b0c;
}
div#members a {
  color: black;
}

div#members img {
  max-width: 100%;
  height: auto;
}

/*Grid*/
div.grid {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0.5rem;
  margin: 1rem auto;
}

div.grid section {
  text-align: center;
  margin: 0.5rem;
  border: solid 1px #224b0c;
  border-radius: 5px;
}

div.grid img {
  max-width: 100%;
  margin: 0.5rem;
}
div.grid h3,
div.grid p {
  margin: 0.2rem 0;
}

/*List*/
div.list {
  max-width: 1000px;
  margin: 1rem auto;
}
div.list section {
  display: grid;
  grid-template-columns: 60px repeat(5, auto);
  text-align: center;
  margin: 0.5rem 2rem;
  border: solid 1px #224b0c;
  border-radius: 5px;
  overflow: hidden;
  align-items: center;
}
div.list img {
  width: 50px;
  height: auto;
  justify-self: center;
}
