@media screen and (min-width: 600px) {
    /* nav ul{
        display: flex;
        flex-direction: row-reverse;
    }
    nav *:nth-child(1) {
        padding-right: 1rem;
    } */

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    main h2 {
        grid-column: 1 / -1;
        text-align: left;
    }

    section {
        margin: 0;
    }

    #activities {
        grid-column: 1 / 2;
        grid-row: 2/4;
    }
    
    #project {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    #project ul {
        padding: 1rem;
    }
    
    #information {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    #information div{
        padding: 10px 0 0 20px;
    }
}
