@media screen and (min-width: 40rem) {
  /* nav ul{
        display: flex;
        flex-direction: row-reverse;
    }
    nav *:nth-child(1) {
        padding-right: 1rem;
    } */

  main {
    max-width: 1250px;
    margin: 0 auto;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
  section {
    margin: 0.25rem;
  }

  #activities {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  #project {
    grid-column: 2 / 3;
  }

  #information {
    grid-column: 2 / 3;
  }

  #form {
    display: flex;
  }
  #form section {
    flex: 1 1 0%;
  }
  
}
