@media screen and (min-width: 600px) {
    /* nav ul{
        display: flex;
        flex-direction: row-reverse;
    }
    nav *:nth-child(1) {
        padding-right: 1rem;
    } */

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    section {
        margin: 0;
    }

    h2 {
        text-align: left;
    }
}
